.card-tag {
    background:#444;
    color:#fff;
    font-size:.75rem;
    padding:2px 8px;
    border-radius:4px;
    display:inline-block;
    margin-bottom:8px
}

.card-text {
    color:#555;
    display:-webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient:vertical;
    overflow:hidden;
    text-overflow:ellipsis
}
.btn-read {
    background-color:#00bcd4;
    color:#fff;
    border-radius:10px;
    padding:10px 22px;
    font-weight:500;
    transition:.3s ease
}
.btn-read:hover {
    background-color:#0097a7;
    color:#fff
}
.contact-item {
    display:flex;
    align-items:flex-start;
    gap:12px
}
.contact-item a[href^="tel"],
.contact-item a[href^="mailto"]{
    color:black;
    text-decoration:none
}

.icon {
    width:34px;
    height:34px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-shrink:0
}

.video-modal
{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,.45);
    backdrop-filter:blur(10px);
    z-index:9999;
    opacity:0;
    pointer-events:none;
    transition:opacity .5s ease-in-out
}
.video-modal.active
{
    opacity:1;
    pointer-events:auto
}
.video-modal video
{
    width:90vw;
    height:90vh;
    max-width:none;
    max-height:none;
    object-fit:contain;
    border-radius:14px;
    transform:scale(1) translateY(0)
}
.video-modal::after
{
    content:"";
    position:absolute;
    inset:0;
    background:radial-gradient(circle,transparent 40%,rgba(0,0,0,.8) 100%);
    pointer-events:none;
    opacity:0;
    transition:opacity .6s ease-in-out
}
.video-modal.active::after{opacity:1}
@media (max-width:768px){
.video-modal{
    width:100vw;
    height:100vh;
    backdrop-filter:blur(6px)
}
.video-modal video{
    width:95vw;
    height:auto;
    aspect-ratio:16/9;
    border-radius:12px
}
}
.room-card{
    transition:transform .4s ease,
    filter .4s ease
}
.room-card:hover{
    transform:translateY(-10px) scale(1.03);
    filter:brightness(1.1)
}
/* Owl Carousel Navigation */
.owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  pointer-events: none;
}

.owl-nav button {
  position: absolute;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.15) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  transition: 0.3s ease;
}

.owl-nav button:hover {
  background: rgba(0, 0, 0, 0.3) !important;
}

/* LEFT Arrow */
.owl-nav .owl-prev {
  left: -45px;
}

.owl-nav .owl-prev::before {
  content: "←";
  font-size: 18px;
  color: #000;
  font-weight: 600;
}

/* RIGHT Arrow */
.owl-nav .owl-next {
  right: -45px;
}

.owl-nav .owl-next::before {
  content: "→";
  font-size: 18px;
  color: #000;
  font-weight: 600;
}
.footer-text {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
